<div class="row" ng-show="showAddForm===true">
    <div class="col-6">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" ng-model="formDataModel.name" id="name" aria-describedby="emailHelp"/>
                <small id="nameHelp" class="form-text text-muted">Your Full Name</small>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" ng-model="formDataModel.email" id="email" aria-describedby="emailHelp"/>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button type="button" ng-click="store()" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
            <button type="button" ng-click="close()" class="btn btn-warning"><i class="fa fa-close"></i> Close</button>
        </form>
    </div>
</div>
<div class="row" ng-show="showAddBtn===true">
    <div class="col-md-12">
        <button type="button" ng-click="create()" class="btn btn-success">Add <i class="fa fa-plus"></i></button>
    </div>
</div>
<br />
<div class="row" ng-show="showList===true">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-success table-sm table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>